#c1 {
    background-color: yellow;

}
#c2 {
    background-color: red;
}
#c3 {
    background-color: chartreuse;
}
#c4 {
    background-color: pink;
}
.container {
    display: grid;
    grid-template-columns: 100px  100px;
     
}