html,body{
    margin: 0;
}

.header{
    color: #932417;
}

#main_top{
    width: 100%;
    overflow: auto;
    
}
#main_top div{ 
    display: flex;
    display: inline-block;
}

.main_top_1{
    
}

.main_top_2{
   
}

.main_top_3{
    
}

#main_bottom{
    width: 100%;
    overflow: auto;
}
#main_bottom div{
    display: flex;
    display: inline-block;
}