html,body{
    margin: 0;
}

#main_top{
    background-color: aqua;
    display: flex;
    flex-direction: row;
   
    
}
#mainn_top{
    margin: 10px;
    padding: 10px;
    width: 1282px;
    height: 366px;
}

.main_top_1{
    
}

.main_top_2{
    
}

.main_top_3{

}

#main_bottom{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    
}
#main_bottom{
    margin: 10px;
    padding: 10px;
    width: 1282px;
    height: 366px;
}

.main_bottom_1{

}

.main_bottom_2{

}

.main_bottom_3{

}
